@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400,700');

html {
  font-size: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 1.6;
}
.header-text {
  padding-left: 5vh;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  padding-top: 5vh;
  text-transform: capitalize;
  font-size: 72px;
  background-image: -webkit-linear-gradient(
    left,
    #47c7c3,
    #359e9e,
    rgb(238, 234, 4)
  );
  -webkit-background-clip: text; /* For Chrome and Safari */
  color: transparent;
}

.link-text {
  color: black;
  justify-content: right;
  float: right;
  line-height: 90px;
  transform: translateX(200%) translateY(40%);
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: right;
  float: right;
  padding-left: 45%;
}

.center {
  width: 50%;
  height: 50%;
  padding-bottom: 30px;
  justify-content: center;
  text-align: center;
  position: relative;
  transform: translateX(5%) translateY(-160%);
}

.commercial {
  margin: 0 auto;
  position: relative;
  height: auto;
  width: auto;
  justify-content: center;
  text-align: center;
  position: relative;
}

img {
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 60px;
  display: inline-block;
}

.homepageintro {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vh;
  padding-top: 50px;
  padding-bottom: 10px;
}

.line-break {
  padding-left: 30px;
}
.intropara {
  display: flex;
  justify-content: center;
  padding-left: 55px;
}

.paratext {
  text-align: center;
}
h2,
p {
  color: #35869e;
  font-family: 'Comfortaa', cursive;
}
.info {
  display: flex;
  justify-content: center;
  padding-left: 55px;
  padding-top: 30px;
  font-family: 'Comfortaa', cursive;
  color: #0f6b86;
}

h6 {
  text-align: center;
}

.header {
  margin: 0 auto;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 10vh;
  padding-top: 10vh;
}

.signup {
  display: flex;
  justify-content: left;
  text-align: left;
}
