@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400,700');

html {
	font-size: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	line-height: 1.6;
}
.header {
	margin: 0 auto;
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: left;
	align-items: left;
	padding-left: 4vh;
	padding-top: 20px;
	margin-right: 20px;
}

.link-text {
	color: black;
	justify-content: right;
	float: right;
	line-height: 90px;
	transform: translateX(210%) translateY(10%);
	text-decoration: none;
	border-radius: 40px;
	font-weight: bold;
	margin-right: 15px;
}

h1 {
	font-size: 45px;
	float: left;
	padding-right: 20px;
}

.line-break {
	padding-top: 20px;
}

.header-line {
	padding-top: 2px;
}
.header-text {
	padding-left: 2px;
	font-weight: bold;
	font-family: 'Cinzel', serif;
	padding-top: 5vh;
	text-transform: capitalize;
	font-size: 72px;
	background-image: -webkit-linear-gradient(
		left,
		#062ace,
		#013eaf,
		#fde407,
		#f5ae15,
		rgb(248, 171, 6)
	);
	-webkit-background-clip: text; /* For Chrome and Safari */
	color: transparent;
}

.btn-primary {
	background-color: #0f6b86 !important;
}

.header a:hover {
	background-color: #ddd;
	color: black;
}

.header a.active {
	background-color: dodgerblue;
	color: white;
}

.container {
	margin: 0 auto;
	display: flex;
	justify-content: right;
	float: right;
	padding-left: 45%;
}

.center {
	width: 50%;
	height: 65%;
	padding-bottom: 30px;
	justify-content: center;
	text-align: center;
	position: relative;
	transform: translateX(5%) translateY(-155%);
	outline: none;
}

.commercial {
	margin: 0 auto;
	position: relative;
	height: auto;
	width: auto;
	justify-content: center;
	text-align: center;
	position: relative;
}

img {
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 60px;
	display: inline-block;
}

.homepageintro {
	margin: 0 auto;
	width: 100%;
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10vh;
	padding-top: auto;
	/* padding-bottom: 10px; */
}

.intropara {
	display: flex;
	justify-content: center;
	padding-left: 55px;
}

.paratext {
	text-align: center;
}
h2,
p {
	color: #35869e;
	font-family: 'Comfortaa', cursive;
}
.info {
	display: flex;
	justify-content: center;
	padding-left: 55px;
	padding-top: 30px;
	font-family: 'Comfortaa', cursive;
	color: #0f6b86;
}

h6 {
	text-align: center;
}

.signup {
	display: flex;
	justify-content: left;
	text-align: left;
}
